<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>{{ ansible_hostname }}</title>
</head>

<body>
    <h1>{{ ansible_hostname }} ROCKS!</h1>
    <p>What a great {{ ansible_distribution }} machine!</p>
</body>
</html>
